:root {
  --blue: #00acdc;
}

body {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 12px;
  margin: 0;
}

.nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  text-transform: uppercase;
  height: 60px;
  position: relative;
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__link:hover,
.is-active {
  color: var(--blue);
}

.is-active::after {
  background-color: var(--blue);
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
  border-radius: 4px;
  width: 100%;
}

.nav__item:not(:last-child) {
  margin-right: 20px;
}

.logo__img {
  height: 40px;
  width: 40px;
  display: block;
}

.header {
  background-color: #fff;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}
